

<h1> Age Problems </h1>
<%- page = params[:page].to_i %>
<ol start = <%= page > 1 ? (((page-1) * 2) + 1) : 1 %>>

<% @posts.each do |p| %>

<li>
 
<p>  <%= p.question %> </P>

<ol class="multiple-rows">
<li>  A. <%= p.optionA %> </li>
<li> B. <%= p.optionB %> </li>
 <li> C. <%= p.optionC %> </li>
<li> D. <%= p.optionD %></li>
</ol>
<div class="hidesol">
 <button class="btn btn-warning btn-outline btn-sm">Show Solution </button>

<div class="solution">
<b><p> Answer: <%= p.answer %> </P> </br> <br>
<p>Solution: <br> <%= p.solution %> </P>

</div>
</div> 
</li>
<% if user_signed_in? %>
<%= link_to "edit", edit_age_path(p) %>
<%= link_to "Delete", age_path(p), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
<hr>

<% end %>

</ol>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<script type="text/javascript">

$(document).ready(function()
{
  $(".solution").hide();
$(".hidesol").children('button').click(function()
{
 if($(this).text().trim() == "Hide Solution")
{
 $(this).html("Show Solution");
$(this).siblings(".solution").hide();
}

else if($(this).text().trim() == "Show Solution")
{
 $(this).html("Hide Solution");
$(this).siblings(".solution").show();
}
 /* var r = $(this).text();
  alert($(this).text()) */
  
   
});

});

</script>
